body{
    background-color:silver; 
    padding:10px;
  }
  #navbar{
    background-color:black;
  }
  .fa{
    padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  }
  .jumbotron {
      margin-bottom: 0px;
      background-image: url(https://cdn.pixabay.com/photo/2017/08/05/21/42/fireworks-2585843_960_720.jpg);
      background-position: 0% 25%;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      text-shadow: black 0.3em 0.3em 0.3em;
  }